spring:
  application:
    name: kitchen

  datasource:
    url: jdbc:postgresql://localhost:5435/kitchen_db
    username: test
    password: test
    driver-class-name: org.postgresql.Driver

mybatis:
  configuration:
    map-underscore-to-camel-case: true

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: ALWAYS

server:
  port: 8082
